$primary: #293b29;
$secondary: #3d5a45;
$warning: #ff7600;
$light-green: #b1ff00;

body {
  background-color: $primary;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  width: 350px;
  height: 350px;
  background-color: $secondary;
  border-radius: 72px;
  box-shadow: 0 3px 50px #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  position: relative;
  background-color: $primary;
  border: 3px solid #212f0b;
  border-radius: 50%;
  width: 310px;
  height: 310px;
}

.clock-scale li,
.clock-star li,
.hour-scale li {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: transparent;
}

.clock-scale li {
  width: 2px;
  height: 245px;
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: white;
  }
  &::after {
    bottom: 0;
  }
}

@for $i from 1 through 36 {
  @if ($i % 3 == 0) {
    .clock-scale li:nth-child(#{$i}) {
      &::before,
      &::after {
        width: 0px;
        height: 0px;
      }
    }
  } @else {
    .clock-scale li:nth-child(#{$i}) {
      transform: rotate(#{$i * 5}deg);
    }
  }
}

.clock-star li {
  width: 1px;
  height: 257px; // h245 + fz6 * 2
  margin: auto;
  &::before,
  &::after {
    content: '\2726';
    position: absolute;
    color: $warning;
    font-size: 12px;
    left: 50%;
    transform: translate(-50%);
  }
  &::after {
    bottom: 0;
  }
}

.hour-scale li {
  width: 1px;
  height: 269px; // h245 + h12 * 2
  margin: auto;
  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: $warning;
    width: 1px;
    height: 24px;
  }
  &::after {
    bottom: 0;
  }
}

@for $i from 1 through 6 {
  .clock-star li:nth-child(#{$i}) {
    transform: rotate(#{$i * 30 + 15}deg);
  }

  .hour-scale li:nth-child(#{$i}) {
    transform: rotate(#{$i * 30}deg);
  }
}

@for $i from 1 through 12 {
  .hour-scale li:nth-child(#{$i}) {
    .inside-num,
    .outside-num {
      &::before,
      &::after {
        font-size: 10px;
        text-align: center;
        line-height: 1.2;
        color: white;
        transform: rotate(#{$i * -30}deg);
        position: absolute;
      }
    }

    .inside-num {
      &::before {
        content: '#{$i}';
        top: 26px;
        right: -3px;
      }
      &::after {
        content: '#{$i+6}';
        left: -3px;
        bottom: 26px;
      }
    }

    .outside-num {
      &::before {
        content: '#{$i+12}';
        top: -14px;
        right: -5px;
      }
      &::after {
        content: '#{$i+18}';
        left: -5px;
        bottom: -14px;
      }
    }
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  background-color: $warning;
  border-radius: 2px;
  z-index: 10;
}

.hour-hand,
.minute-hand,
.second-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -95%);
  transform-origin: 50% 95%;
}

.minute-hand {
  width: 8px;
  height: 96px;
  border-radius: 4px;
  background-color: $warning;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0);
    width: 1px;
    height: 32px;
    background-color: white;
  }
}

.hour-hand {
  width: 8px;
  height: 72px;
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  &::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translate(-50%);
    width: 2px;
    height: 20px;
    background-color: black;
  }
}

@for $i from 1 through 6 {
  .second-hand li:nth-child(#{$i}) {
    position: absolute;
    width: 1px;
    background-color: $light-green;
    border-radius: 1px;
  }
}

.second-hand {
  transform-origin: 50% 100%;
  background-color: transparent;
  width: 1px;
  height: 120px;
  z-index: 3;
  &::before, &::after {
    content: '';
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translate(-50%);
    background-color: $light-green;
    width: 4px;
    height: 4px;
    border-radius: 50%;
  }
  &::after {
    top: -6px;
    background: transparent;
    width: 8px;
    height: 8px;
    border: 1px solid $light-green;
  }
  li:nth-child(1) {
    top: 1px;
    height: 47px;
  }
  li:nth-child(2) {
    top: 48px;
    height: 10px;
    transform: rotate(319deg);
    transform-origin: 0 0;
  }
  li:nth-child(3) {
    top: 54.5px;
    left: 6.5px;
    height: 22.5px;
    transform: rotate(36deg);
    transform-origin: 0 0;
  }
  li:nth-child(4) {
    top: 73px;
    right: 6.5px;
    height: 10.5px;
    transform: rotate(319deg);
    transform-origin: 0 0;
  }
  li:nth-child(5) {
    top: 80px;
    height: 40px;
  }
}